.AmonReact-Slider {
  position: relative;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 5px;
  padding: 0;
}

.AmonReact-Slider-horizontal {
  height: 12px;
  padding-block: 5px;
}

.AmonReact-Slider-rail,
.AmonReact-Slider-step {
  width: 100%;
}

.AmonReact-Slider-rail,
.AmonReact-Slider-track,
.AmonReact-Slider-step {
  height: 5px;
  position: absolute;
}

.AmonReact-Slider-rail {
  background: var(--slider-background-color);
  opacity: 0.7;
  transition: opacity .2s;
}

.AmonReact-Slider:hover .AmonReact-Slider-rail {
  opacity: 1;
}

.AmonReact-Slider-handle,
.AmonReact-Slider-track,
.AmonReact-Slider-rail {
  border-radius: 10px;
}

.AmonReact-Slider-handle,
.AmonReact-Slider-track {
  background-color: var(--slider-handle-color);
  transition: background-color .2s
}

.AmonReact-Slider:hover .AmonReact-Slider-handle,
.AmonReact-Slider:hover .AmonReact-Slider-track {
  background-color: var(--slider-handle-hover-color);
}

.AmonReact-Slider-handle {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translateX(-50%);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: border .1s
}

.AmonReact-Slider-handle:hover,
.AmonReact-Slider-handle:focus {
  border: 2px solid var(--slider-handle-hover-color);
}

.AmonReact-Slider-value {
  position: absolute;
  transform: translateY(100%);
  left: 0;
  z-index: 5000;
  pointer-events: none;
  color: var(--font-color);
  font-weight: 600;
}