.AmonReact-Button {
  width: var(--button-size, auto);
  padding: 7px 15px;
  background-color: var(--button-bg-color);
  border: none;
  transition: .2s linear all;
  border-radius: 50px;
  color: var(--button-font-color, #f5f5f5);
}

.AmonReact-Button:hover {
  cursor: pointer;
  color: var(--button-hover-font-color, #f5f5f5);
  background-color: var(--hover-color);
}